@charset "utf-8";
.text-center {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-variant:normal;
}
.card.col-md-4 .card-header em {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-variant: normal;
    font-size: large;
}

